* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

img {
    height: 350px;
}

.clothing-item {
    position: relative;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.label {
    background-color: orange;
    color: white;
    position: absolute;
    top: 0;
    right: 10px;
    padding: 5px 8px;
}

.title {
    padding: 5px 0 0 5px;
    font-size: 16px;
}

.title:hover {
    cursor: pointer;
}

.price {
    padding: 5px 0 0 5px;
}

.main-price {
    font-weight: bold;
}

.old-price {
    color: grey;
    text-decoration: line-through;
    font-size: small;
}

.checked {
    color: orange;
}

.rating {
    float: right;
    padding: 5px 10px;
}

.unchecked {
    color: lightgray;
}

header {
    display: flex;
    justify-content: center;
    background-color: orange;
    padding: 10px;
    /* margin: -10px -10px 0 -10px; */
}

.home-page {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}